body {
  background-color: #020b14;
  font-family: "Josefin Sans", sans-serif;
}
nav.ul {
  width: 100%;
  color: white;
}
.nav li {
  display: inline;
  color: white;
  float: left;
  width: 12%;
  margin-left: 15px;
}

.signup {
  float: right;
}
.nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.nav a:hover {
  color: rgb(147, 92, 8);
}
.text-center {
  text-align: center;
}
.intro {
  background-color: #020b14;
  margin: 1rem 3rem 1rem 3rem;
  padding-top: 8rem;
  padding-bottom: 1em;
  border-radius: 3em;
}

.class1 {
  color: white;
  padding-left: 1rem;
  text-align: center;
  font-variant: small-caps;
  font-family: "Times New Roman", Times, serif;
}

#title3 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1em;
}

#haa {
  border: 2px white double;
  padding: 2rem;
  margin: 1rem 3rem;
  border-radius: 4px;
}

#university {
  color: white;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#detailss {
  color: whitesmoke;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.intro img {
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 20%;
  margin-left: 43%;
  border-radius: 60%;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(51, 98, 209);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}
