body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  padding-bottom: 100px;
}
nav.ul {
  width: 50%;
  color: #020b14;
}
.nav {
  margin: 0;
  padding: 0;
  background: #020b14;
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 0 1px #5e6875;
}
.nav li {
  display: inline;
  color: #020b14;
  float: left;
  width: 12%;
  margin-left: 15px;
}

.signup {
  float: right;
  border: 1px solid #e5e6e7;
  padding: 10px;
  margin-top: -8px;
  border-radius: 5px;
  text-align: center;
}
.signup:hover {
  background-color: #020b14;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.nav a:hover {
  color: #020b14;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.nav a:active {
  color: #020b14;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.navbar-toggle {
  display: none;
  background-color: #020b14;
  border-color: #020b14;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #020b14;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #020b14;
  border-radius: 2px;
  color: #020b14;
  margin-bottom: 20px;
}

.mine-form {
  padding-top: 20px;
  font-size: 20px;
  width: 25%;
  margin-top: 6%;
  margin-left: 6%;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0760b9;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  border-radius: 2px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.direct-contact-container {
  max-width: 400px;
}

.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #020b14;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #020b14;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #020b14;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #020b14;
  text-decoration: none;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.error {
    border: 1px solid red;
}
.social-media-icon {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  font-weight: bold;
  background-color: #f6fbff;
  color: white;
  text-decoration: none;
}
.social-media-list {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.social-media-list li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.social-media-list li {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 1px 3px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #020b14;
  color: #fefeff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  box-shadow: 0 0 0 1px #5e6875;
}

.social-media-list li:after {
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #020b14;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: rgb(255, 255, 255);
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #020b14;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  font-weight: bold;
  color: #020b14;
  letter-spacing: 1px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .nav {
    display: none;
    float: left;

  }

  .navbar-toggle {
    display: block;
    text-align: left;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 10px;
    background-color: #042749;
  }

  nav.ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
   
  }

  .nav li {
    display: block;
      display: flex;
    width: auto;
    float: none;
    margin-left: 10px;
    margin-bottom: 10px;
   
  }
.nav{
  margin-left: -40px;
}
  .signup {
    float: left;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 43px;
  }

  .intro {
 
    margin: 1rem 1rem 1rem 1rem;
    padding-top: 5rem;
    padding-bottom: 0.5em;
    border-radius: 2em;
  }

  .contact-wrapper {
      margin-top: 45%;
    flex-direction: column;
    align-items: center;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
  .nav {
    margin-left: -40px;
  }
  .mine-form {
    width: 80%;
    margin-left: 0;
  }

  .btn {
    width: 100%;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  nav.ul {
    width: 100%;
  }

  .nav li {
    display: block;
    width: auto;
    float: left;
    padding: 10px auto;
  }

  .signup {
    float: none;
    margin: 0 auto;
    margin-top: 10px;

    text-align: center;
  }
  .nav {
    margin-left: -27px;
  }
}
