@import url("https://fonts.googleapis.com/css2?family=Caudex&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 2em;
  padding-top: 5em;
}

.portfolio,
.portfolio__container {
  display: flex;
  border-radius: 20px;
  margin-left: 8em;
}

.portfolio {
  background-color: #f2fbfd;
  margin-top: 2.5rem;
  padding-top: 3rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: #020b14;
  overflow: hidden;
}

.portfolio__header {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.portfolio__container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
  width: 100%;
}

.box {
  flex: 1;
  padding: 0 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  max-width: 360px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 15px 0px;
  padding: 1rem;
  gap: 1rem;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.card h2 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.card p {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}

.text-container {
  width: 100%;
  margin: 0 auto;
}

.portfolio__container {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.card img {
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 20px;
}
.card img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.card p {
  font-weight: 200;
}
nav.ul {
  width: 50%;
  color: #020b14;
}
.nav {
  margin: 0;
  padding: 0;
  background: #020b14;
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 0 1px #5e6875;
}
.nav li {
  display: inline;
  color: #020b14;
  float: left;
  width: 12%;
  margin-left: 15px;
}

.signup {
  float: right;
  border: 1px solid #e5e6e7;
  padding: 10px;
  margin-top: -8px;
  border-radius: 5px;
  text-align: center;
}
.signup:hover {
  background-color: #020b14;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.nav a:hover {
  color: #020b14;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.nav a:active {
  color: #020b14;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.navbar-toggle {
  display: none;
  background-color: #020b14;
  border-color: #020b14;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.text-center {
  text-align: center;
}

.social-media-icon {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;
  font-weight: bold;
  background-color: #f6fbff;
  color: white;
  text-decoration: none;
}
.social-media-list {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.social-media-list li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.social-media-list li {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 1px 3px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #020b14;
  color: #fefeff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  box-shadow: 0 0 0 1px #5e6875;
}

.social-media-list li:after {
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #020b14;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: rgb(255, 255, 255);
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #020b14;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  font-weight: bold;
  color: #020b14;
  letter-spacing: 1px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container {
    padding-top: 3em;
  }

  .portfolio__header {
    font-size: 1.5rem;
  }

  .card {
    margin-left: 1em;
  }

  .card img {
    border-radius: 10px;
  }
  nav {
    display: none;
    float: left;
  }

  .navbar-toggle {
    display: block;
    text-align: left;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 10px;
    background-color: #042749;
  }

  nav.ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
  }

  .nav li {
    display: block;
    display: flex;
    width: auto;
    float: none;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .signup {
    float: left;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 2px;
  }
  .portfolio,
  .portfolio__container {
    margin-left: -1em;
  }
  .copyright {
    font-size: 10px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  nav.ul {
    width: 100%;
  }

  .nav li {
    display: block;
    width: auto;
    float: left;
    padding: 10px auto;
  }

  .signup {
    float: none;
    margin: 0 auto;
    margin-top: 10px;

    text-align: center;
  }
  .nav {
    margin-left: 20px;
  }
  .box {
    margin-left: -60px;
  }
}
