@import url("https://fonts.googleapis.com/css2?family=Caudex&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
    background-color: #020B14;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
}

.container {
  width: 95%;
  margin: 2em;
}

.portfolio,
.portfolio__container {
  display: flex;
  border-radius: 20px;
}

.portfolio {
  background-color: rgb(202, 202, 202);
  margin-top: 2.5rem;
  padding-top: 3rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.portfolio__header {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.portfolio__container {
  display: flex;
  align-items: stretch; /* Ensure all items stretch to the same height */
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
  width: 100%;
}

.box {
  flex: 1;
  padding:0 1rem;
}

.card {
  display: flex; /* Use flexbox for card layout */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  max-width: 360px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px, rgba(0, 0, 0, 0.5) 0px 2px 15px 0px;
  padding: 1rem;
  gap: 1rem;
}

.card img {
  max-width: 100%; /* Ensure images fill the available space */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1rem;
}

.card h2 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.card p {
    font-size: 16px;
  font-weight: bold;
  color: #020B14;
}

.text-container {
  width: 100%;
  margin: 0 auto;
}



  .portfolio__container {
    flex-direction: row;
    align-items: stretch; /* Ensure all items stretch to the same height */
    flex-wrap: wrap;
    width: 100%;
  }

  .card {
    width: 300px;
    height: 400px;
    border-radius: 10px;
  }

  .card img {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 20px;
  }

  .card p {
    font-weight: 200;
  }

