@import url("https://fonts.googleapis.com/css?family=Montserrat");

body,
html {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

span,
div,
p {
  font-family: "Montserrat", sans-serif;
}

h1 {
  padding-top: 3em;
  text-align: center;
  color: #020b14;
  font-size: 3em;
  font-weight: 100;
  margin: 35px;
  margin-left: -30px;
  margin-bottom: -8%;
  font-weight: bold;
}

.box {
  font-family: Roboto;
  border-radius: 5px;
  position: relative;
  min-height: 600px;
  margin: 150px auto;
  display: block;
  background: #ffffff;
  padding-left: 20px;
}

.box .skills {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  align-content: flex-start;
}
.skills img {
  width: 20px;
  height: 20px;
  border-radius: 30px;
}
.box .skills li {
  text-align: right;
  font-size: 18px;
  margin: 5px 0px;
  color: #020b14;
  font-weight: bold;
  margin-left: 10px;
}

.box li {
  list-style: none;
  flex: 1;
  position: relative;
  padding: 10px 0px;
}

.box .level {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
}

.box .level .bar {
  background: #95c8fe;
  padding: 10px 0px;
  float: left;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.box .level .bar:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #020b14;
}

.box {
  width: 70%;
  max-width: 1000px;
  margin-top: 110px;
  background-color: #ffffff;
  color: #020b14;
  border-radius: 5px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.skills {
  width: 13%;
}

.level {
  width: 85%;
  left: 15%;
}
.bar {
  height: 20px;
  text-align: center;
  border-radius: 2%;
  margin-left: 10px;
}

nav.ul {
  width: 50%;
  color: #020b14;
}
.nav {
  margin: 0;
  padding: 0;
  background: #020b14;
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 0 1px #5e6875;
  font-family: "Josefin Sans", sans-serif;
}
.nav li {
  display: inline;
  color: #020b14;
  float: left;
  width: 12%;
  margin-left: 15px;
}

.signup {
  float: right;
  border: 1px solid #e5e6e7;
  padding: 10px;
  margin-top: -8px;
  border-radius: 5px;
  text-align: center;
}
.signup:hover {
  background-color: #020b14;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.nav a:hover {
  color: #020b14;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.nav a:active {
  color: #020b14;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.navbar-toggle {
  display: none;
  background-color: #020b14;
  border-color: #020b14;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.text-center {
  text-align: center;
}
.bar:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.social-media-icon {
  padding: 10px 10px;
  font-weight: bold;
  background-color: #f6fbff;
  color: white;
  text-decoration: none;
  margin-top: -70px;
}
.social-media-list {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.social-media-list li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.social-media-list li {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 1px 3px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #020b14;
  color: #fefeff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  box-shadow: 0 0 0 1px #5e6875;
}

.social-media-list li:after {
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #020b14;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: rgb(255, 255, 255);
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #020b14;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  font-weight: bold;
  color: #020b14;
  letter-spacing: 1px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  nav {
    display: none;
    float: left;
  }

  .navbar-toggle {
    display: block;
    text-align: left;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 10px;
    background-color: #042749;
  }

  nav.ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
  }

  .nav li {
    display: block;
    display: flex;
    width: auto;
    float: none;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .nav {
    margin-left: -40px;
  }
  .signup {
    float: left;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 43px;
  }

  .bar {
    margin-left: 20%;
    margin-top: 15px;
  }
  .box {
    width: 90%;
    margin-top: 50px;
  }
  .title-skills {
    margin-left: 80px;
    margin-top: -80px;
  }
  .never h2 {
    font-size: 16px;
  }
  .copyright {
    font-size: 10px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  nav.ul {
    width: 100%;
  }

  .nav li {
    display: block;
    width: auto;
    float: left;
    padding: 10px auto;
  }

  .signup {
    float: none;
    margin: 0 auto;
    margin-top: 10px;

    text-align: center;
  }
  .nav {
    margin-left: -27px;
  }
  .bar {
    margin-left: 15%;
  }
}
