*{
    background-color: #60a5fa;
}
.body
{
position:absolute;
background-color:#60a5fa;
height:1294px;
width:1440px;
padding:0px;
}
.top-container{
    background-color: 60A5FA;
}
.aboutme
{
background-color:#ffffff;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
font-weight: bold;
height:73px;
width:304px;
border-radius:37px;
left:36px;
top:238px;
position:absolute;
}
.contactme {
    background-color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 73px;
    width: 304px;
    border-radius: 40px;
    position: absolute;
    top: 644px;
    left: 31px;
}
.blogs
{
background-color:#ffffff;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
font-weight: bold;
height:73px;
width:304px;
border-radius:40px;
top:542px;
left:31px;
position:absolute;
}
.portfolio {
    background-color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 73px;
    width: 304px;
    border-radius: 40px;
    top: 442px;
    left: 31px;
    position: absolute;
}

.skills
{
background-color:#ffffff;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
font-weight: bold;
height:73px;
width:304px;
border-radius:40px;
top:341px;
left:36px;
position:absolute;
}
.signup1
{
    color: white;
    font-size: 20px;
    text-align: center 2em;
background-color:#082f49;
height:85px;
width:196px;
border-radius:40px;
position:absolute;
top:41px;
left:1208px;
}

.home3
{
color: white;
font-family: monospace;
font-size: 80px;
font-weight: bolder;
background-color:#020b14;
height:165px;
width:304px;
border-radius:15px;
border:1px solid #ffffff;
top:41px;
left:36px;
position:absolute;
}

.login-link
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:26px;
font-family:Inter;
left:1085px;
top:69px;
width:75px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.para-container
{
height:192px;
width:818px;
padding:0px;
display:flex;
flex-direction:column;
gap:50px;
left:566px;
top:500px;
position:relative;
}

.Explore
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Molengo;
line-height:auto;
border-style:hidden;
outline:none;
top:134px;
left:0px;
position:absolute;
width:751px;
}
.Ex{
    font-size:24px;
    font-family:Molengo;
    color:#000000;
}
.my-logo
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:128px;
font-family:Inknut Antiqua;
left:71px;
top:670px;

position:absolute;



margin-bottom: -10em;
}
.subscribe
{
color: white;
margin-left: -40em;
margin-top: -30em;
height:102px;
width:335px;
padding:0px;
border-style:hidden;
outline:none;
top:735px;
left:670px;
position:absolute;
background-color:#020b14;
height:102px;
width:335px;
border-radius:32px;
}
.subscribe-text
{
    color:#ffffff;
}
.subscribing2
{
color:#f9f9f9;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inknut Antiqua;
left:754px;
top:750px;
width:167px;
height:62px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.socialmedia
{
height:32px;
width:169px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:33px;
position:absolute;
top:963px;
left:88px;
}
.git{
    height:31px;
width:35px;
border-radius:17px;
left:0px;
top:0px;
position:absolute;
}
.linkedin
{
height:31px;
width:35px;
border-radius:17px;
left:90px;
top:0px;
position:absolute;
}
.inst
{
height:32px;
width:34px;
border-radius:18px;
left:47px;
top:0px;
position:absolute;
}
.footer-content
{
background-color:#131718;
height:265px;
width:1440px;
top:1029px;
left:0px;
position:absolute;
}
.discover
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:370px;
top:1054px;
width:134px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.about3
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:646px;
top:1054px;
width:134px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.resource
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:919px;
top:1054px;
width:134px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.terms
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:921px;
top:1241px;
width:134px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.privacy
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:1057px;
top:1241px;
width:134px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.compliences
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:1181px;
top:1241px;
width:134px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.social
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:1152px;
top:1049px;
width:134px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame40
{
height:31px;
width:923px;
padding:0px;
left:374px;
top:1094px;
position:relative;
}
.coders
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
width:134px;
}
.teams
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:272px;
position:absolute;
width:134px;
}
.global
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:547px;
position:absolute;
width:134px;
}
.github2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:778px;
position:absolute;
width:134px;
}
/*.frame41
{
height:31px;
width:923px;
padding:0px;
left:374px;
top:1130px;
position:relative;
}*/
.help
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:7px;
left:41px;
position:absolute;
width:31px;
}
.careers
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:272px;
position:absolute;
width:134px;
}
.charts
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:547px;
position:absolute;
width:134px;
}
.linkedin2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:778px;
position:absolute;
width:134px;
}
.frame42
{
height:31px;
width:923px;
padding:0px;
left:374px;
top:1170px;
position:relative;
}
#About {
    display: none;
}
.aboutme:focus ~ main #About {
    display: block;
}
.aboutme:focus ~ main #home {
    display: none;
}


/*.suport
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
width:134px;
}
.blogs3
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:272px;
position:absolute;
width:134px;
}
.security
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:547px;
position:absolute;
width:134px;
}
.instgram
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:0px;
left:778px;
position:absolute;
width:134px;
}*/
.me
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Molengo;
left:67px;
top:1098px;
width:276px;
height:54px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.copyright
{
color:#f9fcff;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
left:9px;
top:1257px;
width:423px;
height:15px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.welcome31
{
height:263px;
width:531px;
border-radius:42px;
left:390px;
top:48px;
position:absolute;
}
.codelaptop1
{
height:230px;
width:385px;
border-radius:37px;
left:921px;
top:250px;
position:absolute;
}

