* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #020b14;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
.title {
  padding: 5%;
}
.title h1 {
  color: #86fde2;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 70px;
}
.title img {
  max-width: 100%;
  width: 5%;
  border-radius: 50%;
  float: right;
  margin-top: -60px;
  margin-right: -6px;
}
.title h6 {
  float: right;
  margin-top: 10px;
  margin-right: -55px;
}

.box3 {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.dash-menu {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 1px solid #a0cefc;
  margin-right: 10px;
  border-radius: 20px;
}
.dash-menu a {
  font-size: 20px;
  padding: 10px;
  margin: auto 20px;
  list-style: none;
  text-decoration: none;
  color: #a0cefc;
  font-weight: bold;
}
#search1 {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #a0cefc;
  border-radius: 5px;
  padding-left: 30px;
}
.time {
  color: #a0cefc;
  font-size: 12px;
  padding-left: 30px;
}
.user-message {
  display: flex;
  flex-direction: column;
  flex: 2;
  border: 1px solid #a0cefc;
  border-radius: 20px;
  padding: 20px;
  margin-right: 10px;
}
.search-container {
  position: relative;
  display: flex;
}

.search-container i {
  position: absolute;
  left: 10px;
  top: 35%;
  transform: translateY(-50%);
  color: #000000;
}

textarea {
  padding-left: 30px;
}

.dash-count {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: auto;
  color: #a0cefc;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}

.total-user,
.user-request,
.total-blogs,
.project {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 25%;
  border: 1px solid #a0cefc;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 20px;
}

.user-message h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #a0cefc;
}
.prev-message {
  color: #fff9f9;
  font-size: 12px;
  margin-bottom: 5px;
}

.message-count {
  color: #ffffff;
  font-size: 12px;
}
.user1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.user1 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user1 .info {
  flex: 1;
  border-bottom: 1px solid rgb(11, 10, 10);
  margin-left: 10px;
}

.user1 .info h6 {
  margin: 0;
  color: #a0cefc;
  font-size: 14px;
}

.user1 .info .prev-message {
  color: #fffefe;
  font-size: 12px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.user1 .info .full-message {
  display: none;
}

.user1 .info .full-message.active {
  display: block;
}

.user1 .time-and-count {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.user1 .time {
  color: #dadbdc;
  font-size: 12px;
  margin-bottom: 5px;
}

.user1 .message-count {
  color: #3d4af8;
  font-size: 12px;
}

.all-message {
  overflow-y: auto;
}

.butt {
  display: flex;
  justify-content: center;
}

.user1 h6 {
  margin: 0;
  color: #000000;
  font-size: 16px;
}

.user1 .time,
.user1 h6,
.prev-message,
.message-count {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.see {
  padding: 10px 20px;
  background-color: #a0cefc;
  color: #020b14;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see:hover {
  background-color: #86fde2;
}

nav.ul {
  width: 50%;
  color: white;
}

.nav li {
  display: inline;
  color: white;
  float: left;
  width: 12%;
  margin-left: 15px;
}

.signup {
  float: right;
  border: 1px solid #fff;
  padding: 10px;
  margin-top: -8px;
  border-radius: 5px;
  text-align: center;
}
.signup:hover {
  background-color: #fff;
}
.nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.nav a:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(83, 119, 238);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
    float: left;
  }

  .navbar-toggle {
    display: block;
    text-align: left;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 10px;
    background-color: #042749;
  }

  nav.ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
  }

  .nav li {
    display: block;
    display: flex;
    width: auto;
    float: none;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .signup {
    float: left;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: -3px;
  }
  .title h1 {
    font-size: 16px;
  }

  .box3 {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  .dash-menu {
    width: auto;
    margin-bottom: 10px;
  }
  .dash-count {
    width: auto;
  }
  .title img {
    margin-right: 10px;
  }
  .title h6 {
    margin-top: -30px;
    margin-right: 0;
  }
  .user1 {
    display: inline;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  nav.ul {
    width: 100%;
  }

  .nav li {
    display: block;
    width: auto;
    float: left;
    padding: 10px auto;
  }

  .signup {
    float: none;
    margin: 0 auto;
    margin-top: 10px;

    text-align: center;
  }
  .nav {
    margin-left: -27px;
  }
  .user1 {
    display: inline;
  }

  .title img {
    width: 60px;
    margin-top: -60px;
    margin-right: 10px;
  }

  .title h1 {
    padding: 10px;
  }

  .title h6 {
    margin-top: 5px;
    margin-right: 20px;
  }

  .admin-content {
    padding: 20px;
  }

  .box3 {
    flex-direction: column;
    margin-right: 0;
  }

  .dash-menu {
    width: 100%;
    margin-bottom: 20px;
  }

  .user-message,
  .dash-count {
    width: 100%;
    margin-right: 0;
  }

  .user-message {
    padding: 20px;
  }

  .all-message {
    max-height: 200px;
    overflow-y: auto;
  }

  .butt {
    text-align: center;
  }
}
